; .editorconfig
;
; Copyright (c) 2026-Present Nessbe
;
; This file is licensed under the terms specified in the
; LICENSE file located at the root of this repository.

root = true

[*]
charset = utf-8
end_of_line = lf

indent_style = tab
indent_size = 8
tab_width = 8

insert_final_newline = true
trim_trailing_whitespace = true
